<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <p>Your Name: <input type="text" name="name"></p>
  
  <p>Your Name: <input type="text" name="name"></p>
  
  
  
  
  
 </head>
 <body>
 </body>
</html>


